*{
    overflow: hidden;
}
.outer{
    color: rgb(205, 201, 201);
}

.boxes{
    display: flex;
    gap: 10px;
}
.outer{
    display: flex;
    width: 100%;
    display: flex;
    gap: 50px;
   
}
.outer1{
    width: 50%;


}
.outer1 h1{
    margin-bottom: 50px;
    font-weight: bold;
    color: white;
}
#details{
    font-size:20px;
    
}
.outer2{
  /* Adjust the width of the container */
    height: 500px; /* Set a fixed height or auto depending on your layout */
    overflow: hidden; /* Prevents overflow if the image is larger */
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer2 img{
    width: auto; /* Automatically adjusts the width */
    height: auto; /* Makes sure the image fits the height without cropping */
    object-fit: contain;
  
}
.project-image {
    transition: transform 0.1s ease-out; /* Smooth transition */
    position: relative; /* Required for smooth movement */
  }
  