*{
    overflow-x: hidden;
   
    
  
}
.outer{
    color: rgb(205, 201, 201);
    
    
}

.boxes{
    display: flex;
    gap: 10px;
}
.outer{
    display: flex;
    width: 100%;
    display: flex;
    gap: 50px;
   
}
.outer1{
    width: 50%;


}
.outer1 h1{
    margin-bottom: 50px;
    font-weight: bold;
    color: white;
}
#details{
    font-size:20px;
    
}
.outer2{

    height: 500px; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer2 img{
    width: auto; 
    height: auto; 
    object-fit: contain;
  
}
.project-image {
    transition: transform 0.1s ease-out; 
    position: relative; 
}